body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #e0c9ff, #fff);
  color: #333;
}

header {
  background-color: #7e65ad;
  color: #fdf5c9;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

nav a {
  color: #e799d0;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #fff;
}

.banner-container {
  position: relative;
  text-align: center;
  margin: 30px 0;
}

.banner img {
  width: 50%;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(179, 29, 29, 0.7);
  color: white;
  border: none;
  font-size: 20px;
  padding: 40px;
  cursor: pointer;
  border-radius: 50%;
}

.esquerda {
  left: 10px;
}

.direita {
  right: 10px;
}

section {
  padding: 30px;
  margin: 20px;
  background-color:  #cb9ff528;
  border-radius: 10px;
}

.card-produto {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card-produto div {
  text-align: center;
  width: 200px;
}

.imagens {
  height: 300px;
  width: auto;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  border: 3px solid #fff;
}

.imagens:hover {
  transform: scale(1.05);
}

footer {
  margin-top: 40px;
  text-align: center;
  background-color: #7e65ad;
  color: #ffffff;
  padding: 20px;
}

.produto {
  text-align: center;
  width: 300px;
}